<!-- isa/templates/main/layout.html -->
{% include 'main/header.html' %}

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container">
                {% for category, message in messages %}
                    <div class="isa-flash-message show fade alert alert-{{ category }} alert-dismissible">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Main Content -->
    <main class="content-wrapper">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'main/footer.html' %}

    <!-- JavaScript -->
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/select2/4.0.7/js/select2.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    <script>
        $(document).ready(function() {
            // Initialize Select2 for language dropdown
            $('#language_select').select2({
                minimumResultsForSearch: Infinity,
                dropdownParent: $('#navbarSupportedContent'),
                templateResult: formatLanguage,
                templateSelection: formatLanguage
            }).on('change', function() {
                window.location.href = "{{url_for('main.set_language')}}?language=" + $(this).val();
            });
            
            function formatLanguage(language) {
                if (!language.id) { return language.text; }
                return $('<span>').text(language.text);
            }
            
            // Initialize tooltips
            $('[data-toggle="tooltip"]').tooltip();
            
            // CSRF token setup for AJAX requests
            var csrf_token = "{{ csrf_token() }}";
            
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        });
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>